:root {
    --background: rgb(39, 39, 39);
    --side-div: rgb(173, 173, 173);
    --main-div: rgb(206, 206, 206);
    --text: rgb(190, 190, 190);
    --text-dark: black;
}

body {
    background: var(--background);
    /* background: black; */
    margin: 10px;
}

.footer {
    text-align: center;
    color: var(--text);
    font: 14px bold;
    /* background-color: red; */
    /* height: 10px; */
}

.footer a {
    color: var(--text);
    text-decoration: unset;
}

.main {
    border: 1px solid black;
    float: left;
    width: 100%;
    display: flex;
    /* height: 100%; */
}

.sidebar {
    padding: 2%;
    width: 20%;
    color: var(--text-dark);
    background-color: var(--side-div);
    border: 1px solid black;
}

.main-info {
    padding: 2%;
    width: 80%;
    /* color: var(--text); */
    background-color: var(--main-div);
    border: 1px solid black;
}

.main .sidebar img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

.main {
    width: 100%;
    height: 100%;
}

.main .main-info .name h,
.main .main-info .name p {
    display: block
}